:root {
    --color-principal: #192A51;
    --color-secundario: #586da1;
    --color-terciario: #B197FC;
    --color-fondo: #F5E6E8;
    --color-hover: #967AA1;
    --color-blanco: #ffffff;
    --color-gris: #d7d7d7;
    --color-negro: #000;
}

/* RESET GENERAL */
body, h1, h2, h3, h4, h5, h6, p, a, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: var(--color-fondo);
    box-sizing: border-box;
}

/* ---------------------------------------------- */
/* CABECERA */
header {
    margin-top: 1rem;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.cabecera__caja {
    display: flex;
    align-items: center;
}

.cabecera__logo {
    width: 3rem;
    cursor: pointer;
}

.cabecera__titulo {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 1rem;
    cursor: pointer;
    color: var(--color-principal);
}

.navegacion__lista {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
}

.navegacion__lista li {
    list-style: none;
}

.navegacion__lista li a {
    text-decoration: none;
    color: var(--color-principal);
    font-weight: 500;
}

.navegacion__lista li a:hover {
    color: var(--color-secundario);
    transition: color 0.3s ease-out;
}

/* ---------------------------------------------- */
/* PRESENTACIÓN */
.presentacion {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./imagenes/aves.jpg);
    height: 47.3rem;
    background-size: 150%;
    animation: movimiento 10s infinite linear alternate;
}

.presentacion__tarjeta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: var(--color-blanco);
}

.capa-gradiente {
    width: 100%;
    height: 90%;
    position: absolute;
    background: linear-gradient(to left, black, #eeeeee);
    opacity: 0.5;
}

.contenedor-detalles {
    width: 100%;
    max-width: 70rem;
    margin: auto;
}

.presentacion__contenedor h2 {
    font-size: 3rem;
    font-weight: 700;
}

.presentacion__contenedor h5 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-principal);
}

.presentacion__imagen img {
    border-radius: 50px;
    margin-right: 1rem;
    height: 50vh;
    padding: 2%;
}

/* ---------------------------------------------- */
/* SOBRE MI */
.sobre-mi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 10rem;
    text-align: center;
    gap: 0.5rem;
}

.sobre-mi__texto {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    color: gray;
}

/* ---------------------------------------------- */
/* AFICIONES */
.aficiones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.aficiones__contenedor {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
}

.aficiones__lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

/* ---------------------------------------------- */
/* HABILIDADES */
.habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
    gap: 2rem;
}

.habilidades__uso,
.idiomas {
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.habilidades__uso {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10rem;
}

.idiomas__lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    column-gap: 10rem;
}

/* ---------------------------------------------- */
/* PORTAFOLIO */
.proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
}

.contenedor-portada {
    width: 100%;
    height: 5rem;
    position: relative;
    background-image: url(./imagenes/colores.jpg);
}

.degradado {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to left, var(--color-principal), var(--color-secundario));
    opacity: 0.5;
}

.portafolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.portafolio img {
    width: 100%;
}

.portafolio a:hover {
    transform: scale(1.1);
}

/* ---------------------------------------------- */
/* CONTACTO */
.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
}

.contacto__formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 70%;
}

form input,
form textarea {
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: var(--color-principal);
    border: none;
    border-bottom: 0.1rem solid var(--color-principal);
    border-left: 0.1rem solid var(--color-principal);
    width: 60%;
    outline: none;
    font-size: 1rem;
    resize: none;
}

form input::placeholder,
form textarea::placeholder {
    font-size: 1rem;
}

form button {
    background-color: transparent;
    padding: .5rem 1.5rem;
    border: none;
    border-inline: 0.1rem solid var(--color-principal);
    font-size: 1rem;
    cursor: pointer;
}

form button:hover {
    background-color: var(--color-hover);
    transition: background-color 0.3s ease;
}

form #comment {
    height: 100px;
}

form p {
    margin-left: 0;
    font-size: 0.875rem;
}

.usuario {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-blanco);
}

/* ---------------------------------------------- */
/* PIE DE PÁGINA */
footer {
    margin-top: 5rem;
    background-color: var(--color-negro);
    color: var(--color-blanco);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social {
    display: flex;
    gap: 1rem;
}

.footer-info p {
    font-size: 1rem;
    line-height: 1.2rem;
    color: var(--color-gris);
}

/* ---------------------------------------------- */
/* ANIMACIONES */
@keyframes movimiento {
    from {
        background-position: bottom left;
    }

    to {
        background-position: top right;
    }
}

/* ---------------------------------------------- */
/* MEDIA QUERIES */
@media (max-width: 768px) {
    header {
        background-color: var(--color-negro);
        height: 3rem;
    }

    .navegacion__lista {
        position: absolute;
        top: 4rem;
        left: 0;
        right: 0;
        background-color: #1c1918;
        padding-top: 2rem;
        gap: 2rem;
        text-align: center;
        border-top: 1px solid var(--color-gris);
    }

    .presentacion__imagen {
        display: none;
    }

    .presentacion {
        height: calc(100vh - 3rem);
        background: url(./images/Background.jpg) center/cover no-repeat;
        justify-content: center;
       
